.banner {
  margin: -7.6rem auto 0;
  width: 192rem;
  max-width: 100%;
  // height: 100vh;
  height: 108rem;
  max-height: 108rem;
  overflow: hidden;
  position: relative;
  z-index: 20;
  background-size: contain;
  background-position: top center;
  background-size: 110% auto;
  background-position: 50% 50%;
  animation: bgMove 8s linear infinite;
  &:hover ~ .cursor {
    background-image: none;
  }

  @keyframes bgMove {
    0% {
      background-position: 50% 50%;
    }
    25% {
      background-position: 50% 90%;
    }
    50% {
      background-position: 50% 50%;
    }
    75% {
      background-position: 50% 10%;
    }
    100% {
      background-position: 50% 50%;
    }
  }

  & canvas {
    height: 100% !important;
    width: 100% !important;
  }
  /* .banner__container */

  &__container {
    position: static;
  }

  /* .banner__inner */

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  /* .banner__content */

  &__content {
    display: flex;
    flex-direction: column;
  }

  /* .banner__title-box */

  &__title-box {
    padding: 3.8rem 0 6.8rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.4);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
  }

  /* .banner__title */

  &__title {
    font-weight: 400;
    font-size: 13.6rem;
    line-height: 88%;
    color: $white;
  }

  /* .banner__info-wrapper */

  &__info-wrapper {
  }

  /* .banner__info-container */

  &__info-container {
  }

  /* .banner__info-list */

  &__info-list {
    display: grid;
    grid-template-columns: 41rem 48rem 48rem 41rem;
  }

  /* .banner__info-block */

  &__info-block {
    height: 42rem;
    padding: 3rem;
    position: relative;
    &:not(:last-of-type) {
      border-right: 0.1rem solid rgba(255, 255, 255, 0.4);
    }
    &:not(.banner__info-block--empty) {
      &::before {
        position: absolute;
        content:'';
        background: url(./assets/images/corner.svg) no-repeat top/cover;
        width: 1.9rem;
        height: 1.9rem;
        top: 0.4rem;
        right: 0.4rem;
      }
    }
  }

  /* .banner__info-block--empty */

  &__info-block--empty {
  }

  /* .banner__info-block-item */

  &__info-block-item {
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    color: $white;
    display: flex;
    gap: 1rem;
    &::before {
      content: '';
      flex-shrink: 0;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background-color: #d8eef7;
      margin-top: 0.7rem;
    }
  }

  /* .banner__info-block-inner */

  &__info-block-inner {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: flex-end;
  }

  /* .banner__info-text */

  &__info-text {
    font-weight: 400;
    font-size: 2rem;
    text-align: right;
    color: $white;
  }

  /* .banner__info-btn */

  &__info-btn {
    background: $blue;
    padding: 2.8rem 9.8rem;
    border-radius: 1.2rem;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: $white;
    position: relative;
    z-index: 500;
    transition: background 0.4s;
    &:hover {
      background: #3a53ab;
    }
  }
}
