
.main-wrap-cursor-top {
}
.wrap-lighten-cursor {
  z-index: 11000;
  pointer-events: none;
  mix-blend-mode: lighten;

  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  inset: 0%;

}
.cursor {
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  overflow: hidden;

}
.cursor-rotate {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  position: absolute;
  transform: scale(1) rotate(0);

}
.cursor-lighten-default {
  background-image: url(./assets/images/cursorColor.avif);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
}
.main-wrap-cursor-bottom {
}
.wrap-background-cursor-bottom {
  z-index: 10;
  pointer-events: none;

  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  inset: 0%;

}
.cursor-background-default {
  background-image: url(./assets/images/cursor.avif);
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(20deg);

}
