.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  transform-origin: center center;
  top: 0;
  left: 0;
  z-index: 99998;
  filter: url(#goo);
  mix-blend-mode: difference;
}

.cursor span {
  position: absolute;
  display: block;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2rem;
  background-color: var(--color-white);
  transform-origin: center center;
  transform: translate(-50%, -50%);
}


// /////////////////////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////////

// .cursor-global {
// }
// .main-wrap-cursor-top {
// }
// .wrap-lighten-cursor {
//   z-index: 11000;
//   pointer-events: none;
//   mix-blend-mode: lighten;

//   width: 100%;
//   height: 100%;
//   display: flex;
//   position: fixed;
//   inset: 0%;

// }
// .cursor {
//   border-radius: 50%;
//   width: 3.6rem;
//   height: 3.6rem;
//   position: absolute;
//   overflow: hidden;

// }
// .cursor-rotate {
//   width: 100%;
//   height: 100%;
//   transition: transform 0.5s;
//   position: absolute;
//   transform: scale(1) rotate(0);

// }
// .cursor-lighten-default {
//   background-image: url(./assets/images/cursorColor.avif);
//   background-position: 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   border-radius: 50%;
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }
// .main-wrap-cursor-bottom {
// }
// .wrap-background-cursor-bottom {
//   z-index: 10;
//   pointer-events: none;

//   width: 100%;
//   height: 100%;
//   display: flex;
//   position: fixed;
//   inset: 0%;

// }
// .cursor-background-default {
//   background-image: url(./assets/images/cursor.avif);
//   background-position: 50%;
//   background-size: cover;
//   border-radius: 50%;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   transform: rotate(20deg);

// }

// /////////////////////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////////

// .cursor {
//   pointer-events: none;
//   position: fixed;
//   display: block;
//   border-radius: 0;
//   transform-origin: center center;
//   top: 0;
//   left: 0;
//   color: #ffffff76;
// //   mix-blend-mode: difference;
//   z-index: 99998;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   /* .cursor__eye-wrapper */
// &__eye-wrapper {
//     transition: transform 0.3s;
// }
//   &__eye-wrapper,
//   &__eye-box,
//   &__pupil-box {
//     position: absolute;
//     display: block;
//     width: 5.5rem;
//     height: 3rem;

// //   position: absolute;

//     & svg {
//         width: 100%;
//         height: 100%;
//         object-fit: fill;
//     }
//   }

//   /* .cursor__pupil */

//   &__pupil {
//     transition: transform 0.5s;
//     transform: scale(1) rotate(0);
//     transform-origin: center center;
//   }
// }
