<section
  class="banner data-ripples jquery-ripples"
  data-ripples-img="./assets/images/bannerBg.webp"
  style="background-image: none"
>
  <div class="banner__inner">
    <!-- <include src="./components/_cursorBottom.html"></include> -->
    

    <div class="banner__content">
      <div class="banner__title-box">
        <div class="container">
          <p class="banner__title">Голубые капли от красных глаз</p>
        </div>
      </div>

      <div class="banner__info-wrapper">
        <div class="banner__info-container container">
          <div class="banner__info-list">
            <div class="banner__info-block banner__info-block--empty"></div>
            <div class="banner__info-block">
              <p class="banner__info-block-item">прошли клинические испытания в ведущих клиниках России</p>
            </div>
            <div class="banner__info-block">
              <p class="banner__info-block-item">Придают глазам красивый голубоватый оттенок и здоровый блеск</p>
            </div>
            <div class="banner__info-block banner__info-block--empty">
              <div class="banner__info-block-inner">
                <p class="banner__info-text">
                  ОКУ-ОКУ® снимает напряжение и усталость при работе с компьютером, эффективно помогает при ощущении "песка в
                  глазах" и устраняет ощущение инородного тела в глазах
                </p>
                <button class="banner__info-btn">Узнать больше</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
