<!-- <div class="cursor__wrapper">
    <div class="cursor" id="cursor" style="filter: url('#goo')"></div> -->

<!-- <svg style="display: none" xmlns="http://www.w3.org/2000/svg" version="1.1" width="800">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur"></feGaussianBlur>
          <feColorMatrix
            in="blur"
            mode="matrix"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 35 -15"
            result="goo"
          ></feColorMatrix>
          <feComposite in="SourceGraphic" in2="goo" operator="atop"></feComposite>
        </filter>
      </defs>
    </svg> -->
<!-- </div> -->

<div class="main-wrap-cursor-top">
  <div class="wrap-lighten-cursor">
    <div class="cursor">
      <div class="cursor-rotate">
        <div class="cursor-lighten-default"></div>
      </div>
    </div>
  </div>
</div>



