<header class="header">
  <div class="header__container container">
    <div class="header__inner">
      <div class="header__logo">
        <img src="./assets/images/logo.webp" alt="" />
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="" class="header__nav-link">О препарате</a>
          </li>
          <li class="header__nav-item">
            <a href="" class="header__nav-link">Преимущества</a>
          </li>
          <li class="header__nav-item">
            <a href="" class="header__nav-link">Инструкция</a>
          </li>
          <li class="header__nav-item">
            <a href="" class="header__nav-link">Статьи</a>
          </li>
          <li class="header__nav-item">
            <a href="" class="header__nav-link">Вопрос-ответ</a>
          </li>
          <li class="header__nav-item">
            <a href="" class="header__nav-link">Где купить</a>
          </li>
        </ul>
      </nav>
      <button class="header__btn">Специалистам</button>
    </div>
  </div>
</header>
