<header class="header">
  <div class="header__container container">
    <div class="header__inner">
      <div class="header__logo">
        <img src="./assets/images/logo.webp" alt="" />
      </div>
      <div class="header__nav-box">
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="" class="header__nav-link">О препарате</a>
            </li>
            <li class="header__nav-item">
              <a href="" class="header__nav-link">Преимущества</a>
            </li>
            <li class="header__nav-item">
              <a href="" class="header__nav-link">Инструкция</a>
            </li>
            <li class="header__nav-item">
              <a href="" class="header__nav-link">Статьи</a>
            </li>
            <li class="header__nav-item">
              <a href="" class="header__nav-link">Вопрос-ответ</a>
            </li>
            <li class="header__nav-item">
              <a href="" class="header__nav-link">Где купить</a>
            </li>
          </ul>
        </nav>

        <div class="header__btn-box">
          <button class="header__theme-btn">
            <div class="header__theme-btn-svg-box-bg"></div>
            <div class="header__theme-btn-svg-box header__theme-btn-svg-box--sun">
              <svg viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_250_103)">
                  <path
                    d="M11.8286 15.8185C14.032 15.8185 15.8183 14.0322 15.8183 11.8288C15.8183 9.62533 14.032 7.83907 11.8286 7.83907C9.62512 7.83907 7.83887 9.62533 7.83887 11.8288C7.83887 14.0322 9.62512 15.8185 11.8286 15.8185Z"
                    fill="#223064"
                    stroke="#223064"
                    stroke-width="1.21807"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M11.8287 1.45535V4.64713"
                    stroke="#223064"
                    stroke-width="1.59589"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4.48767 4.48766L6.75383 6.75382"
                    stroke="#223064"
                    stroke-width="1.59589"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M1.45544 11.8287H4.64722"
                    stroke="#223064"
                    stroke-width="1.59589"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4.48767 19.1697L6.75383 16.9036"
                    stroke="#223064"
                    stroke-width="1.59589"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M11.8287 22.2018V19.01"
                    stroke="#223064"
                    stroke-width="1.59589"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M19.1697 19.1697L16.9036 16.9036"
                    stroke="#223064"
                    stroke-width="1.59589"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M22.2019 11.8287H19.0101"
                    stroke="#223064"
                    stroke-width="1.59589"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M19.1697 4.48766L16.9036 6.75382"
                    stroke="#223064"
                    stroke-width="1.59589"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_250_103">
                    <rect width="22.3424" height="22.3424" fill="white" transform="translate(0.657593 0.657593)" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="header__theme-btn-svg-box header__theme-btn-svg-box--moon">
              <svg  viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2001_3)">
                  <path
                    d="M23.7178 20.6839C30.3247 11.141 22.005 2.5768 17.1112 0.863964C19.8028 4.28963 23.718 12.4623 17.8454 17.7476C11.9729 23.0329 4.14277 20.4392 0.961792 18.4817C10.3579 31.4014 21.1767 24.3543 23.7178 20.6839Z"
                    fill="white"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2001_3">
                    <rect width="27" height="27" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </button>
          <button class="header__btn">Специалистам</button>
        </div>
      </div>
    </div>
  </div>
</header>
